body {
    background: #fbeae5;
}

.app-news-msg {
    font-size: .875rem;
    color: #330101;
    text-align: center;
    font-weight: 300;
    font-family: Nunito, Helvetica Neue, Helvetica, sans-serif;
    margin: 1rem;
}

.outer-container {
    margin-top: 100px;
}

.head-navbar {
    background-color: 202026 !important;
    padding-top: 0;
    padding-bottom: 0;
}

.icon-navbar-expand {
    color: #cbcbd2 !important;
}

ul.head-navbar-nav {
    padding: 0.5rem 0;
    ;
}

.head-navbar-item {
    margin: 0 3rem;
}

.head-navbar-link {
    text-transform: uppercase;
    font-size: 1.125rem;
    color: #cbcbd2 !important;
    letter-spacing: .025em;
}

.intro-box {
    font-family: Nunito, Helvetica Neue, Helvetica, sans-serif;
    background: whitesmoke;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
}

.intro-box>p,
ul {
    padding: 1em;
    margin-bottom: 0;
}

.intro-box>h1 {
    padding: 0.4em;
    margin-bottom: 0;
}

ul.tech-stack li {
    display: inline;
}

ul {
    list-style: none;
}

.profile-photo {
    margin: 2rem auto !important;
    display: block;
}

ul li {
    padding-left: 10px;
    color: #717184;
}

ul li:first-child {
    padding-left: 0px;
    color: #717184;
}

h1.hi-line span {
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: #ff1d6f;
    color: whitesmoke;
}

hr {
    border-top-width: 0.7rem;
    border-color: #dd6b20;
}

.profile-detail-navbar>ul>li.active {
    /* margin-right: 10rem; */
    border-bottom: 1px solid #dd6b20;
}

.profile-detail-navbar>ul>li {
    padding-bottom: 0.8rem;
}

.profile-detail-navbar>ul {
    border: none;
}

.tile {
    background-color: white;
    /* padding: 2rem; */
    margin-bottom: 1rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    background: whitesmoke;
}

.company-box,
.job-description {
    padding: 2rem 2rem 0 2rem;
}

.education-tile {
    background-color: white;
    padding: 2rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15) !important;
    background: whitesmoke;
}

.company-logo {
    max-width: 100%;
    margin: 0;
    border-radius: 50%;
    margin: 1rem auto !important;
    display: block;
}

.college-logo {
    border-radius: 50%;
    max-width: 100%;
    margin: 0;
    margin: 2rem auto !important;
    display: block;
}

.school-name {
    max-width: 100%;
    margin: 0;
    margin: 2rem auto !important;
    display: block;
}

.job-timeline {
    justify-content: center;
    display: flex;
    font-size: 0.7rem;
    font-style: italic;
    font-weight: 700;
    color: #108043;
}

.job-description {
    font-family: Nunito, Helvetica Neue, Helvetica, Arial, sans-serif;
}

h4 {
    font-weight: 700;
}

.education-detail>* {
    margin-bottom: 0;
}

.education-detail {
    margin-bottom: 0;
    padding: 2rem;
    font-family: Nunito, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.card {
    border: none;
    max-width: 100%;
    padding: 0;
    height: 90%;
}

.card-body {
    margin: auto;
    padding: 0;
}

.cgpa,
.card-text {
    color: #dd6b20;
    font-style: italic;
    font-weight: 600;
}

footer.upper-footer {
    background-color: #32325d !important;
    height: 0.5rem;
}

.lower-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #cbcbd2;
    border-top: .05rem solid #999;
}

.line-sign-off {
    margin-bottom: 0 !important;
    border-color: #dd6b20;
}

.sign-off {
    font-family: Nunito, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 400;
    margin-top: .25rem;
    font-style: italic;
    text-transform: uppercase;
    color: #dd6b20;
    width: 90%;
}

.profile-detail-tabs.active {
    color: #4b35ef !important;
    font-size: 1.8rem;
    font-weight: 800;
    background-color: #fbeae5 !important;
    border: none;
    border-top: 0.4rem solid #4b35ef !important;
}

.profile-detail-tabs {
    color: #484848 !important;
    font-size: 1.8rem;
    font-weight: 800;
    border: none;
}